.count-down {
  display: grid;
  background-color: darkorange;
  border-radius: 4px;
  padding: 18px;
  place-items: center;
  gap: 18px;
  &-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    &-start-btn {
    }
    &-pause-btn {
    }
    &-reset-btn {
      margin-right: 0 !important;
    }
  }
}
